
.chip {   
    position: absolute;
    left: .5rem;
    font-size: smaller;
    z-index: 1;
    color: var(--font-accent);
    padding: .5rem;
    border-radius: 1rem;
}

.hide {
    display: none;
}

.chip.neutral {
    /* color: var(--color-chip-font-neutral); */
    background-color: var(--color-chip-neutral);
}

.chip.danger {
    /* color: var(--color-chip-font-danger); */
    background-color: var(--color-chip-danger);
}

.chip.good {
    /* color: var(--color-chip-font-good); */
    background-color: var(--color-chip-good);
}

.chip.warning {
    /* color: var(--color-chip-font-warning); */
    background-color: var(--color-chip-warning);
}

.chip.gray {
    /* color: var(--color-chip-font-gray); */
    background-color: var(--color-chip-gray);
}

.chip.none {
    /* color: var(--color-chip-font-gray); */
    background-color: none;
}
