:root {

  /* color-scheme: light dark; */
  
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
  
  --color-main-black:#000;
  --color-main-white: #fff;
  
  
  --color-bg: #abebff;
  --color-main: #4fb6e6;
  --color-main-accent: #a6e93c;
  --color-secondary: #c7e9e9;
  --color-secondary-accent: #b9f398;
  
  --font-main: #000;
  --font-accent: #ffffff;
  --font-secondary: #b4b4b4;

  
  --color-btn-neutral: #84a9ee;
  --color-btn-danger: #e47474;
  --color-btn-warning: #f3c38b;
  --color-btn-good: #88ec99;
  --color-btn-gray: #c5c5c5;

  --color-btn-font-neutral: #181ab3;
  --color-btn-font-danger: #881111;
  --color-btn-font-warning: #7c490e;
  --color-btn-font-good: #055813;
  --color-btn-font-gray: #464646;


  --color-chip-neutral: #181bb3ad;
  --color-chip-danger: #881111ad;
  --color-chip-warning: #d88423ad;
  --color-chip-good:#13b12dad;
  --color-chip-gray:#2e2e2ead;

  --color-chip-font-neutral: #181ab3;
  --color-chip-font-danger: #881111;
  --color-chip-font-warning: #7c490e;
  --color-chip-font-good: #055813;
  --color-chip-font-gray: #464646;

  color: var(--font-main);
  font-size: 1rem;
}

* {
  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: var(--font-main); */
}


body {
}
