.card {
    background-color: var(--color-bg-gray);
    border-radius: 10px;
    padding: 0;
    position: relative;
    overflow: hidden;
    /* transition-property: transform, transition-duration;
    transition-duration: 0.2s; */
    /* тут кароч коостыль такой что б фотка за гнраницы не лезла */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photoWrapper {
    position: relative;
}

.photoBg {
    /* min-width: 200px;
    min-height: 200px; */
    /* z-index: 100; */
    /* background-size: cover;  */
    filter: blur(5px);
}

.photo {

    /* width:320px;
    height: 220px; */
    max-width: 320px;
    max-height: 220px;
}

.hoverable:hover {
    .photo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.15);
        transition-duration: var(--transition-duration);
    }
}
.hoverable:not(:hover) {
    .photo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition-duration: var(--transition-duration);
    }
}

.name {
    padding: 0 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-50);
    color: var(--light-beige);
    text-wrap: balance;
    word-break: break-word;
}