.wrapper {
    display: flex;
    /* gap: 1rem; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: max-content; */
    width: 100%;
}

.grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    min-width: calc(2 * var(--card-width) + 4rem);
}

@media screen and (max-width: 767px) {
    .wrapper {
        align-items: center;
        justify-content: center;
    }
}