.wrapper,
.left,
.right,
.input {
    display: flex;
    gap: 1rem;
}

.chat {
    /* background-color: var(--color-secondary); */
    border: solid gray 1px;
    padding: 1rem;
    border-radius: 15px;
    scroll-behavior: smooth;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    width: 100%;
    height: 600px;
    gap: 1rem;
}

.chat::-webkit-scrollbar {
    width: 0;
}


.msg {
    border-radius: 15px;
    overflow-wrap: break-word;
    width: 60%;
    padding: 1rem;
}

.myMsg {
    align-self: flex-end;
    background-color: var(--color-secondary-accent);
}

.hisMsg {
    align-self: start;
    background-color: var(--color-secondary);
}