.modal {
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  /* z-index: 999; */
}

.active {
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  z-index: 999;
}

.modalContent {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  min-width: 30rem;
  max-width: 664px;
  border-radius: 12px;
  background-color: var(--light-beige);
  /* max-height: 90dvh; */
  /* width: fit-content; */
  min-height: 15rem;
  /* height: fit-content; */
  border: solid 1px white;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: fit-content;
}

.link {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.link:hover {
  color: var(--olive);
}

.link:focus,
.link:active {
  border: none;
  background: none;
  outline: none;
}

.icon{
	width: 1.5rem;
	height: auto;
}
