.input {
    background-color: var(--color-btn-neutral);
    border: none;
    color: var(--color-btn-font-neutral);
    line-height: 1.5rem;
    padding: .2rem;
    padding-left: 1rem;
    width: 100%;
    /* width: 300px; */
    border-radius: 15px;
    /* font-size: 1.2rem; */
}

.input:focus {
    outline: none;
    border: none;
    box-shadow: inset 0 0 10px 1px var(--color-btn-font-neutral);
}