.wrapper {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 2rem;
}

.sidebar {
    background-color: var(--color-main-accent);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.category {}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    background-color: var(--color-bg);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: .5rem;
}