.navbar {
  display: flex;
  justify-content: space-between;
  /* height: inherit; */
  /* padding: 0.5rem 1rem 0.5rem 1rem; */
  width: 100%;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--brown);
  /* color: black; */
}

.link:hover {
  text-decoration: underline;
  /* color: var(--color-main-accent); */
}

.wrapper, .menu {
  display: flex;
  align-items: center;
  width: 100%;
}
.wrapper {
    justify-content: flex-end
}

.menu {
    gap: 2rem;
}

.user {
  display: flex;
  align-items: center;
  gap: .6rem;
}
.relative {
  position: relative;
}

.lk {
  position: fixed;
  background-color: yellow;
  top: 5.5rem;
  right: 1px;
  width: 20dvw;
  height: calc(100dvh - 5.5rem);
  z-index: 1000;
}

.open{
  animation: slideInFromRight 0.2s ease forwards;
}

.close{
  animation: slideOutToRight 0.2s ease forwards;
}

.addThingBtn {
  /* height: 2rem; */
  /* line-height: 2.75rem; */
  user-select: none;

  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  color: var(--brown);
}

.addThingBtn:hover {
  text-decoration: underline;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}


