.navbar {
  display: flex;
  justify-content: space-between;
  /* height: inherit; */
  /* padding: 0.5rem 1rem 0.5rem 1rem; */
  width: 100%;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
  color: var(--color-main-accent);
}

.menu {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.relative {
  position: relative;
}